/*Style Eigenschaften für das Dreispalten Layout*/
#mainnav {width: 25%; float: left; font-size: 15pt;}
#content {width: 55%; float: left;}
#sidebar {width: 20%; float: right;}
/*Hintergrund*/
body {background-image:url(footer_lodyas.png); background-attachment:fixed;}
/*Schriftart der Überschirft(en)*/
#heading {
    font-family: 'League Gothic';
    src: url('leaguegothic-regular-webfont.eot');
    src: url('leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('leaguegothic-regular-webfont.woff') format('woff'),
         url('leaguegothic-regular-webfont.ttf') format('truetype'),
         url('leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-size: 28pt;
    color: #A4A4A4;
}
/*Menü Layouts*/
ul {
    list-style-type: none;
    /*margin: 0; padding: 0;*/ 
    width: 200px; 
    margin-top: 40px;
}

li a {
    display: block; 
    color: #000; 
    padding: 8px 16px; 
    text-decoration: none; 
    font-family: "Courier New", Courier, monospace; 
    font-size: 14pt;
}

li a:hover {
    background-color: #555; 
    color: aliceblue;
}

/* Dropdown Menü */
.dropbtn {}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_content {
    
    display: none;
    position: absolute;
    background-color: #555;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown_content a {
    color: black;
    font-family: "Courier New", Courier, monospace; 
    font-size: 14pt;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown_content a:hover {
    background-color: #555;
    color: aliceblue;
}

.dropdown:hover .dropdown_content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #555;
}


/*Fußzeilen Layouts*/
footer {
    position: fixed; 
    padding: 10px; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: 0; 
    padding: 0;
}

footer a {
    display: inline; 
    color: #000; 
    padding: 8px 16px; 
    text-decoration: none; 
    font-family: "Courier New", Courier, monospace; 
    font-size: 14pt;
}

footer a:hover {
    background-color: #555; 
    color: aliceblue;
}
/* Einstellungen für die Loginbox*/
.loginbox{
    width: :320px;
    height: 420px;
    background: transparent;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    
}

.avatar{
    width: 100px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: -85px;
    left: calc(50% - 50px);
}

.log_head{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 25px;
    font-weight: normal;
    font-family: "Courier New", Courier, monospace;
}

.log_p{
    margin: 0;
    padding: 0;
    font-weight: inherit;
    font-family: "Courier New", Courier, monospace; 
    font-size: 20px;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 15px;
}

.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 15px;
    border-radius: 20px;
    font-family: "Courier New", Courier, monospace;
}

.loginbox input[type="submit"]:hover {
    cursor: pointer;
    background-color: #555; 
    color: aliceblue;
    
}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover {
    color: #ffc107;
}

/*Suchbox Layout*/

.body_search {
    margin: 0;
    padding: 0;
}

.search_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: red;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.search_box:hover > .search_text {
    
    width:240px;
    padding: 0 6px;
}

.search_box:hover > .search_button {
    
   background: transparent;
}

.search_button {
    color: #1C1C1C;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    text-decoration: none;
}

.search_text {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
}

.text_area {
    background: transparent;
    color: white;
    font-family: "Courier New", Courier, monospace; 
    border: none;
    
}

.variable_mov{
    color: aliceblue;
    font-size: 12px;
    margin-bottom: 50px;
}

.muster_layout{
    font-family: "Courier New", Courier, monospace;
    color: black;
    font-size: 16.5px;
    
}



